force-app/main/default/flows/QA_Review_Populate_AI_Scores.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_AI_Scores</name>
        <label>Parse AI Scores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>QAReviewScorePopulator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Parse_Successful</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>analysisJson</name>
            <value>
                <elementReference>Analysis_JSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QAReviewScorePopulator</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AI_Active_Listening</assignToReference>
            <name>aiActiveListening</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Build_Rapport</assignToReference>
            <name>aiBuildRapport</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Confirm_Next_Steps</assignToReference>
            <name>aiConfirmNextSteps</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Demonstrate_Knowledge</assignToReference>
            <name>aiDemonstrateKnowledge</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Explain_Process</assignToReference>
            <name>aiExplainProcess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Handle_Concerns</assignToReference>
            <name>aiHandleConcerns</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Resolution</assignToReference>
            <name>aiResolution</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AI_Total_Score</assignToReference>
            <name>aiTotalScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Parse_Success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <assignments>
        <name>Store_JSON_Messaging</name>
        <label>Store JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Analysis_JSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Session_JSON.Service_Quality_Analysis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_AI_Scores</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_JSON_Voice</name>
        <label>Store JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Analysis_JSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Voice_Call_JSON.Service_Quality_Analysis__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parse_AI_Scores</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Parse_Successful</name>
        <label>Parse Successful</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_QA_Review_with_AI_Scores</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Channel</name>
        <label>Which Channel?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Parse_AI_Scores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Voice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Voice_Call__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Voice_Call_JSON</targetReference>
            </connector>
            <label>Voice</label>
        </rules>
        <rules>
            <name>Messaging_Session</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Messaging_Session__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Session_JSON</targetReference>
            </connector>
            <label>Messaging Session</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>QA Review - Populate AI Scores {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QA Review - Populate AI Scores</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Messaging_Session_JSON</name>
        <label>Get Messaging Session JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_JSON_Messaging</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Messaging_Session__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Voice_Call_JSON</name>
        <label>Get Voice Call JSON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_JSON_Voice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Voice_Call__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VoiceCall</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Service_Quality_Analysis__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_QA_Review_with_AI_Scores</name>
        <label>Update QA Review with AI Scores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AI_Active_Listening__c</field>
            <value>
                <elementReference>AI_Active_Listening</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Build_Rapport__c</field>
            <value>
                <elementReference>AI_Build_Rapport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Confirm_Next_Steps__c</field>
            <value>
                <elementReference>AI_Confirm_Next_Steps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Demonstrate_Knowledge__c</field>
            <value>
                <elementReference>AI_Demonstrate_Knowledge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Explain_Process__c</field>
            <value>
                <elementReference>AI_Explain_Process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Handle_Concerns__c</field>
            <value>
                <elementReference>AI_Handle_Concerns</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Resolution__c</field>
            <value>
                <elementReference>AI_Resolution</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Total_Score__c</field>
            <value>
                <elementReference>AI_Total_Score</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Channel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Human_Total_Score__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>QA_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AI_Active_Listening</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Build_Rapport</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Confirm_Next_Steps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Demonstrate_Knowledge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Explain_Process</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Handle_Concerns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Resolution</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>AI_Total_Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>Analysis_JSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parse_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
